body {
    background-color: #fafafa;
    min-height: 100vh;
    position: relative;
}

.stat {
    min-width: 163px;
}

.inset {
    max-width: 1600px;
    padding: 1rem;
    display: block;
    margin: auto;
}

.page-container {
    max-width: 1600px;
    padding: 1rem;
    padding-bottom: 7rem;
    display: block;
    margin: auto;
}

.rangeMarks-container span {
    width: 1px;
    font-size: 10px;
}

.breadcrumbs-container {
    padding-left: 2rem;
    border-top: solid #cbcbcb 1px;
    border-bottom: solid #cbcbcb 1px;
    background-color: #3d4251;
    color: #fff;
}

.invoice-total {
    border: solid grey 3px;
    margin-top: 1rem;
    margin-left: auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
}

.paid-icon {
    width: 45px;
}
